:root {
  font-family: 'Inter', system-ui, Arial, sans-serif;
  background-color: #121212; 
  color: #ffffff;
}

body {
  margin: 0;
  display: block;
  min-height: 100vh;
}

* {
  box-sizing: border-box; 
}